/* Reset ve kutu modelini düzeltme */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Gövde (body) stilleri */
body {
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

